:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --darkColor: #243e36;
  --lightColor: #7ca982;
  --accentColor: #49111C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body {
  background-color: var(--darkColor);
  color: var(--lightColor);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

main {
  flex: 1;
  display: flex;
}

/* Weather DIV */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 47%;
  top: 14%;
  width: 100px;
}
.temp {
  font-size: large;
}


/* Game Canvas */
#gameCanvas {
  border: solid var(--accentColor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
}

.d-grid {
  width: 50%;
  display: inline-block;
  padding: 200px;
}


/* Buttons*/
#instructionsBtn {
  margin-left: 30%;
  background-color: var(--lightColor);
  color: var(--accentColor);
}

#startBtn {
  margin-right: 30%;
  background-color: var(--lightColor);
  color: var(--accentColor);
}

#instructionsBtn:hover , #startBtn:hover {
  background-color: var(--accentColor);
  color: var(--lightColor);
}